<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {%- if site.copyright -%}
          <li>&copy; {{ site.copyright }} {{ 'now' | date: "%Y" }}</li>
          {%- endif -%}
          <li><a href="https://www.talentech.com">talentech.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Talentech Dev Blog</p>

      </div>
    </div>

  </div>

</footer>